<div class="jumbotron" style="background-color: #FFDB58;">
    <div class="d-flex justify-content-center">
        <img src="./images/burger.png" style="width:15%">
    </div>
    <br>
    <h1 class="text-center">Eat-Da-Burger!</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-4">
            <ul style="list-style-type:none;">
                {{#each burgers}}
                {{#dataValues}}
                {{#unless devoured}}
                {{> notDevoured/notDevoured}}
                {{/unless}}
                {{/dataValues}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <ul style="list-style-type:none;">
                {{#each burgers}}
                {{#dataValues}}
                {{#if devoured}}
                {{> devoured/devoured}}
                {{/if}}
                {{/dataValues}}
                {{/each}}
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-sm-offset-2">
            <form class="create-form">
                <textarea class="form-control" rows="3" id="burger-box" placeholder="Enter burger here"></textarea>
                <br>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
<script type="text/javascript">
    $(".create-form").on("submit", (event) => {
        event.preventDefault();
        event.stopPropagation();

        const newBurger = {
            name: $("#burger-box").val().trim(),
            devoured: false
        };

        console.log(newBurger);

        $.ajax("/api/new", {
            type: "POST",
            data: newBurger,
        }).then(
            function () {
                console.log("create new burger ");
                // Reload the page to get the updated list
                return location.reload();
            }
        );
    });

    $(".devour").on("click", function (event) {
        event.preventDefault();
        event.stopPropagation();

        const id = $(this).attr("data-devourId");

        const newDevouredState = { value: true };

        $.ajax(`/api/${id}`, {
            type: "PUT",
            data: newDevouredState,
        }).then(
            function () {
                console.log("changed burger");
                // Reload the page to get the updated list
                return location.reload();
            }
        )

    })

</script>