<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Eat Da Burger</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">


</head>

<body>

  <div class="jumbotron">
    <h1 class="text-center">Eat-Da-Burger!</h1>
  </div>

  <div class="container">

    {{{body}}}

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form class="create-form">
          <textarea class="form-control" rows="3" id="burger-box" placeholder="Enter burger here"></textarea>
          <button type="submit" class="btn btn-lg pull-right">Submit</button>
        </form>
      </div>
    </div>

  </div>
</body>

<script src="js/burgers.js"></script>
</html>