<div class="row">
	<div class="col">
		<li class="pb-3 pr-3 mb-1" style="background-color: beige;">
			{{this.id}}. {{this.name}}

		</li>
	</div>
	<div class="col">
		<button type="button" class="devour btn btn-outline-success" data-devourId="{{id}}">
		DEVOUR IT!
	</button>
	</div>